* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}
.back-img {
    height: 100%;
    width: 100%;
    position: absolute;
}
.buttons {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 900px;
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
    margin: auto;
}
.button {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 100%;
    padding: 18px;
    border: 2px solid white;
    border-radius: 18px;
    transition: 100ms all;
    backdrop-filter: blur(10px);
}

.playing {
    color: rgba(223, 121, 4, 0.897);
    border-color: rgba(223, 121, 4, 0.897);
    box-shadow: rgba(223, 121, 4, 0.897) 0px 22px 70px 4px;;
    transform: scale(1.2);
}










@media (max-width: 850px) {
    .back-img {
        object-fit: cover;
    }
}

@media (max-width: 700px) {
    .buttons {
        flex-wrap: wrap;
        max-width: 250px;
    }
}